<div class="tbg">
  <div class="theader">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <i class="fa fa-comments" aria-hidden="true"></i>
    <div class="tlogo">
      <img src="/assets/thecatapi_256xW.png" alt="Tinder Logo" title="Tinder Logo" />
    </div>
  </div>
  <div class="tbgwrap">
    <app-card>
    </app-card>
    <div class="tcontrols">
      <div (click)='cardAnimation("swipeleft")'  class="tno"><i class="fa fa-times" aria-hidden="true"></i></div>
      <div class="ti"><i class="fa fa-info" aria-hidden="true"></i></div>
      <div (click)='cardAnimation("swiperight")' class="tyes"><i class="fa fa-heart" aria-hidden="true"></i></div>
    </div>
  </div>
</div>
