<div class="container">
  <app-cockpit></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [element] ="serverElement"
      >
      <!-- name of the component variable SERVER ELEMENT =  the local variable in component ROOT-->
      <!-- custom properties bindings passing a array trou the server-element to app component. -->
      <!-- [nameComponentVariableINNER] = "nameComponentVariableATFATHERComponent" -->
      </app-server-element>
    </div>
  </div>
</div>
