
<div class="theader">

  <i class="fa fa-search" aria-hidden="true"></i>
  <a routerLink="cat/add"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
  <!-- [routerLink]="['route']" this is relative path ../nestledComponent-->
  <!-- [routerLink]="['route', 'param1', 'param2']" this is absolute path /rootComponent-->
  <!-- roouterLinkActive Directive -->
  <div class="tlogo" routerLink="cat/">
    <img src="/assets/thecatapi_256xW.png" alt="Api Cat Logo" title="Api Cat Logo" />
  </div>
</div>
