<style>.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
</style>
  <p class="example-container">
    <br/>
    <mat-form-field  appearance="outline">
      <mat-label> Nombre: </mat-label>
      <input matInput placeholder="name" value="{{ cat.name }}" class="cat_name">
      <mat-hint>Nombre</mat-hint>
    </mat-form-field>
    <br/>

    <mat-form-field  appearance="outline">
    <mat-label> Id: </mat-label>
    <input matInput placeholder="Nombre" value="{{ cat.id }}" class="cat_id">
    <mat-hint>Id</mat-hint>
    </mat-form-field>

    <br/>
    <mat-form-field  appearance="outline">
      <mat-label> Url: </mat-label>
      <textarea matInput placeholder="Descripcion" value="{{ cat.url }}" class="cat_description"></textarea>
      <mat-hint>Url</mat-hint>
    </mat-form-field>
  </p>

