<!--<div class="tphoto">-->
<div style="height: 200px;" style="">
  <img [src]="cat.pictureUrl" title="tphoto" alt="Cat Photo" style="width:100%; height: 100%;" (click)="fetchNewRandomCat()"/><!-- property binding one way -->
  <div class="tname" >
    <div style="text-align: right">
    {{cat.name}} <!-- string interpolation -->
    </div>
    <mat-form-field  appearance="standard" style="width: 100%" [floatLabel]="auto">
    <input matInput #countLikes
           class="age form-control"
           value="{{ cat.categorie }} "
           style="width:20px; display: inline;" (click)="onPassingLocalReference(countLikes)">        <!-- local references type HTMLInputElement-->
     <!-- style="width:10px;" (onclick)="onPassingLocalReference(countLikes.value)">      local references type String -->
    </mat-form-field>

    <div style="text-align: right">
  <app-cat-controls></app-cat-controls>
  </div>
</div>
