<div cass="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
        <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
        <li>Add a button which may only be clicked if the username is NOT an empty string</li>
        <li>Upon clicking the button, the username should be reset to an empty string</li>
        <hr/>
        <br/>
        I could edit Username here:
        <input type="text" class="form-control" (input)="onUpdateUsername($event)" [(ngModel)]="username">
        <br/>
        <input type="text" class="form-control" (input)="onUpdateUsername($event)" [(ngModel)]="username">
        <br/>
        <p><b>The Username (username) is: </b></p> <br/>
        <p> {{ username }}</p>
        <button class="btn btn-primary" [disabled]="!isAllowResetUsername" (click)="onResetUsername($event)"> Reset Username </button>
      </ol>
    </div>
  </div>
</div>
